body{

  font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
background: url('../assets/img/bananas.png');
background-color: #feffc7;
} /* declaring the font size for the page and the background image which runs along the whole body of the page*/

.collapse{ /* the collapse items will have these attributes applied to them */
  background-color: #feffc7!important; /* important tells us that this is the first thing that needs to be applied */
  opacity: 10%;
  max-width: 100%;
}
.collapseOne,.collapseTwo,.collapseThree,.collapseFour{ /* all of these elements will have these attributes applied to them */
  background-color: #feffc7!important;
  opacity: 0.5; /* we have applied opacity to the background colours in this element */
  max-width: 100%;
  margin:0px; /*there is a margin of 0 */
}
.card{ /* the card element will show these attributes */
  stroke: none; /* no stroke otherwise it will look liuke a box in the middle of the page */
  border-color: #feffc7; /* the border has to have a colour declared otherwise it will be aiutomatically white */
  background-color: #feffc7;
}
.card-body{ /* card body will have these attributes assigned to them. the text will always be on the right hand side of the photos*/
  background-color: #feffc7;
  color: #DBACB5;
  text-align: right;
  padding-left: 0px;

}
.card-header{ /* the card header will always have the text in the centre and the colours of the font and background as follows */
  background-color: #feffc7;
  color: #ffc8c7;
  text-align: center;
}

footer{ /* footer does not have a dot at the begging because it is not an element name */
  background-color: #DBACB5;
  color: #feffc7;
  opacity: 0.8;
}

.modal-content{ /* when you do not fill in the form properly the background colour of the box will be this colour */
  background-color: #ffc959;
}

.fixed-top{ /* the fixed top attribute of the navbar will always be at the top*/
  position: fixed;
  top: 20;
  left: 10;
  right: 10;

}
.btn-primary{ /* the buttom will have these attributes applied to them */
  background-color: #feffc7;
  border-color: #feffc7;

}
.btn-primary:hover{ /* when the button is hovered on the colour changes to these colours */
  background-color: #feffc7;
  border-color: #feffc7;
}
.navbar{ /* the colours of the nabar otherwise they will automatically be assigned to a coloiur*/

  background-color: white!important;
  opacity: 0.8;
}

.btn{ /* we are now declaring what happens when you click the buttons, when you hover, and when you have previously already clicked that button*/
  color: #ffc8c7;
  font-size: 20px;
  text-decoration: none;
}
.btn:hover{
  color: #DBACB5;
  text-decoration: none;
}
.btn-link{
  font-size: 20px;
  color: #blue;
  text-decoration: none;
  font-size: 32px;
}
.btn-link:hover{
  color: #DBACB5;
  text-decoration: none;
}
.btn-link:visited{
  text-decoration: none;
}
.btn-social{
  border: none;
  stroke: none;
}
.container{ /* our containers will have these colours and maximum sized applied to them */
  max-width: 1000px;
  max-height: 1000px;
  background-color: #feffc7;
  opacity: 0.8;
  color: #DBACB5;
}

a:link{ /* the links will be these colours and these decorations when clicked and hovered */
  color: #DBACB5;
}
a:visited{
  color: #DBACB5;
  text-decoration: none;
}
a:hover{
  color: #ffc8c7;
  text-decoration: none;
  background-color: #feffc7;
}
.sendy{
  border-color: none;
  stroke: none; /*sendy is the name of the form button which we dont want to havea  border colour or stroke */
}
video{ /* video does not have an id name thjerefore we dont put a dot on the front. we want it to be positioned in the same place and take up 100% of the container but have space by the margins*/
position: static;
  width: 100%;
}
img{ /*images is not an id name so no dot. these are how it is displaued*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}
